* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Asset/download\ \(18\).jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.blur{
    width: 100%;
    height: 100vh;
    background-color: rgba(180, 173, 173, 0.082);
    backdrop-filter: blur(5px);
}

#hero{
    width: 100%;
    height: 100vh;
    
}

.img1{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 2;
    width: 500px;
    height: auto;
}

.logo{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 150px;
    height: auto;
    z-index: 3;
}

.hero-text1{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.445);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    max-width: 40%;
    padding: 20px;
    
}

.hero-text1 h2{
    margin-bottom: 20px;
}


.img3{
    position: absolute;
    top: 160%;
    right: 30%;
    transform: translate(-50%, -50%) rotate(3deg);
    z-index: 2;
    width: 550px;
    height: auto;
}


.hero-text2{
    position: absolute;
    top: 163%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.445);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    max-width: 40%;
    padding: 20px;
    padding-left: 50px;
    
}

.hero-text2 h2{
    margin-bottom: 20px;
}




.img4{
    position: absolute;
    top: 260%;
    left: 74%;
    transform: translate(-50%, -50%) rotate(-4deg);
    z-index: 2;
    width: 550px;
    height: auto;
} 

.hero-text3{
    position: absolute;
    top: 263%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.445);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    max-width: 40%;
    padding: 20px;
    padding-left: 50px;
    
}

.hero-text3 h2{
    margin-bottom: 20px;
}